*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: contain;
}
.flex-container{
    
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-size: contain;
    background-position: center;
}
.header{
    height:10vh;
    background-color:antiquewhite;
    color:white;
    text-align: center; 
    padding-top: 10px;
    font-weight: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.nav{
    height:10vh;
    background-color: gray;
    color: black;
    text-align: center;
    font-size: medium;
    font-weight: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.nav h2{
    margin-top: 20px;
}
.container{
    display:flex;
    flex-direction: row;
    height:70vh;
}
.main{
    width:65%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200px;
    background-color: peru;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main h3{
    padding-top: 150px;
}
.aside{
    width:35%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200px;
    background-color:blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.aside h3{
    padding-top: 150px;
}
.footer{
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
    font-weight:200px;
    height:10vh;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
@media only screen and (max-width:600px) {
    .flex-container{
        margin-bottom: 0;
        position:relative;
    }
    .container{
        
        flex-direction: column;
        display:block;
        height:70vh;
        flex-wrap: wrap;
        
}
    .main,.aside,.header,.nav,.footer{
        width:100%;
    }
    .main{
        height:50vh;
    }
    .aside{
        height:20vh;
    }
    .main h3{
        padding-top: 60px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .aside h3{
        padding-top: 40px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }.header{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
        
    
}